@import "bootstrap";
@import "auth_pages";
@import "dashboard";

body {
  background-color: #f8fafc;
}

.table thead th {
  color: #1a56db;
  font-weight: 600;
}

.btn-primary {
  background-color: #1a56db;
  border-color: #1a56db;
}

.btn-primary:hover {
  background-color: #174cb8;
}

code {
  color: #00509e;
}


/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
